@{
    ViewData["Title"] = "Register Page";
}

@model RegisterViewModel

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <p>You are 30 seconds away from being part of our team!</p>
            <input type="submit" name="" value="Login" /><br />
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Physiotherapist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Student</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as a Physiotherapist</h3>
                    <form method="post" action="RegisterNewPhysiotherapist">
                        <dasp-action ="Register/RegisterNewPhysiotherapist" method="post">
                            <div asp-validation-summary="All"></div>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" asp-for="Physiotherapist.FirstName" class="form-control" placeholder="First Name *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" asp-for="Physiotherapist.LastName" class="form-control" placeholder="Last Name *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" asp-for="Physiotherapist.Password" class="form-control" placeholder="Confirm Password *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline">
                                                <input type="radio" name="gender" asp-for="Physiotherapist.Gender" value="Male">
                                                <span> Male </span>
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" name="gender" asp-for="Physiotherapist.Gender" value="Female">
                                                <span>Female </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" asp-for="Physiotherapist.Emailaddress" placeholder="Your Email *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" minlength="10" maxlength="10" asp-for="Physiotherapist.PhoneNumber" name="txtEmpPhone" placeholder="Your Phone *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" asp-for="Physiotherapist.DayOfBirth" placeholder="Your date of birth *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" asp-for="Physiotherapist.BIGNummer" placeholder="Your BIG number *" value="" />
                                    </div>
                                    <input type="submit" class="btnRegister" value="Register" method="post" action="/RegisterNewPhysioterapist" />
                                </div>
                            </div>
                    </form>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">Apply as a Student</h3>
                    <form method="post" action="RegisterNewPerson">
                        <dasp-action ="Register/RegisterNewPerson" method="post">
                            <div asp-validation-summary="All"></div>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" asp-for="Student.FirstName" class="form-control" placeholder="First Name *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" asp-for="Student.LastName" class="form-control" placeholder="Last Name *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password *" value="" />
                                    </div>
                                    <div class="form-group form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-radio-input" value="True" type="radio" asp-for="Student.Gender" /> Male
                                        </label>
                                    </div>
                                    <div class="form-group form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" value="False" type="radio" asp-for="Student.Gender" /> Female
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" asp-for="Student.Emailaddress" placeholder="Your Email *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" asp-for="Student.PhoneNumber" placeholder="Your Phone *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" asp-for="Student.DayOfBirth" placeholder="Your date of birth *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" asp-for="Student.Studentnumber" placeholder="Your student number *" value="" />
                                    </div>
                                    <input type="submit" class="btnRegister" value="Register" method="post" action="/RegisterNewStudent" />
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
